SECRET_KEY=change-this-to-a-long-random-secret-key
DEBUG=true
SERVE_MEDIA=true
# default_port=9000
ENABLE_BROWSABLE_API=False
MEDIA_ROOT=./media

# =================Orgin Allowed================================
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost:8001,http://127.0.0.1:8001

# =================API Extra Security================================
FRONTEND_APP_KEY=some_random_frontend_secret_key


# *** Google Map API Key For Geocoding and Reverse Geocoding =====================
# GOOGLE_MAP_API_KEY=some_random_google_map_api_key
GOOGLE_MAP_API_KEY=some_random_google_map_api_key


# *** Frontend Web URL =====================
FRONTEND_URL=http://127.0.0.1:8003


# =================Email Credentials================================
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=



# Optional: if you later switch to a different database, you can add entries here
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_HOST=
# DB_PORT=
