asgiref==3.11.1
attrs==26.1.0
certifi==2026.5.20
charset-normalizer==3.4.7
diff-match-patch==20241021
Django==6.0.6
django-auditlog==3.4.1
django-cors-headers==4.9.0
django-extensions==4.1
django-filter==25.2
django-import-export==4.4.1
django-simple-history==3.11.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
geopandas==1.1.4
gunicorn==26.0.0
idna==3.18
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
networkx==3.6.1
numpy==2.5.1
osmnx==2.1.0
packaging==26.2
pandas==3.0.3
pillow==12.2.0
PyJWT==2.13.0
pyogrio==0.13.0
pyproj==3.7.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.5.1
shapely==2.1.2
six==1.17.0
sqlparse==0.5.5
tablib==3.9.0
typing_extensions==4.15.0
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
whitenoise==6.12.0
